.section {
  padding-top: 90px;
  text-align: center;
}

.wrapper {
  background-image: url('assets/images/not-found.png');
  background-repeat: no-repeat;
  background-position: center 190px;
  min-height: 510px;
}

.title {
  font-weight: 800;
  font-size: 36px;
  line-height: calc(40 / 36);
}
