.formWrapper {
  font-size: var(--text-lg);
  text-align: center;
}

.formTitle {
  margin-bottom: 14px;
  font-size: var(--title);
  font-weight: var(--extrabold);
}

.logIn {
  margin-bottom: 20px;
}

.link {
  font-weight: var(--bold);
  text-decoration: underline;
}
